@page "{submissionId}"
@using System.ComponentModel.DataAnnotations
@model pro_web.Pages.Submissions.ReadModel
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>소스코드 - 프로</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/lib/@@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="~/lib/codemirror/lib/codemirror.css">
  <link rel="stylesheet" href="~/lib/codemirror/theme/mdn-like.css">
  <style>
    .console {
      line-height: 1.14;
      padding: .5rem;
      overflow-x: auto;
    }

    .CodeMirror {
      font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
      font-size: 1rem;
      height: auto;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
      <a asp-page="/Index" class="navbar-brand">소스코드</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a asp-page="./Index" class="nav-link">
            검색
          </a>
        </li>
      </ul>
      <partial name="_LogoutPartial" />
    </div>
  </nav>
  <div class="container">
    <div class="table-responsive">
      <table class="table" style="white-space: nowrap">
        <thead>
          <tr>
            <th>#</th>
            <th>제출한 사람</th>
            <th>과제</th>
            <th>채점 결과</th>
            <th>언어</th>
            <th>길이</th>
            <th>제출한 시간</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>@Model.Submission.Id</td>
            <td>
              <a asp-page="./Index" asp-route-userId="@(Model.Submission.AuthorId)">
                @(Model.Submission.Author.Gen)기 @(Model.Submission.Author.Name)
              </a>
            </td>
            <td>
              <a asp-page="./Index" asp-route-taskId="@(Model.Submission.TaskId)"
                 title="@(Model.Submission.Task.Title)">
                @Model.Submission.TaskId
              </a>
              <small>
                <a asp-page="/Tasks/Read" asp-route-taskId="@(Model.Submission.TaskId)">
                  <i class="fas fa-external-link-alt"></i>
                </a>
              </small>
            </td>
            @if (Model.Submission.Working)
            {
              @switch (Model.Submission.Status)
              {
                case Models.Submission.StatusCode.SuccessOrInitialization:
                  <td class="text-muted">채점 준비 중</td>
                  break;
                case Models.Submission.StatusCode.PartialSuccess:
                  <td class="text-warning">@(Model.Submission.Score)점 (채점 중)</td>
                  break;
              }
            }
            else
            {
              @switch (Model.Submission.Status)
              {
                case Models.Submission.StatusCode.SuccessOrInitialization:
                  <td class="text-success font-weight-bold">정답</td>
                  break;
                case Models.Submission.StatusCode.CompilationError:
                  <td class="text-info">컴파일 에러</td>
                  break;
                case Models.Submission.StatusCode.RuntimeError:
                  <td class="text-info">런타임 에러</td>
                  break;
                case Models.Submission.StatusCode.PartialSuccess:
                  <td class="text-danger">@(Model.Submission.Score)점</td>
                  break;
              }
            }
            <td>
              @(Model.Submission.Language.GetType().GetMember(Model.Submission.Language.ToString())[0].GetCustomAttributes(true).OfType<DisplayAttribute>().First().Name)
            </td>
            <td>
              <a asp-page="./Read" asp-route-submissionId="@(Model.Submission.Id)">
                @(Model.Submission.Size)B
              </a>
            </td>
            <td>@Model.Submission.SubmitAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
          </tr>
        </tbody>
      </table>
    </div>
    <textarea id="source" class="form-control text-monospace" wrap="off" rows="20" style="tab-size:4;" readonly>@Model.Source</textarea>
    <pre class="console text-dark bg-light">@Model.Submission.Error</pre>
  </div>
  <script src="~/lib/codemirror/lib/codemirror.js"></script>
  <script src="~/lib/codemirror/mode/clike/clike.js"></script>
  <script src="~/lib/codemirror/mode/python/python.js"></script>
  <script src="~/lib/codemirror/addon/edit/matchbrackets.js"></script>
  <script>
    var code = CodeMirror.fromTextArea(document.getElementById('source'), {
      indentUnit: 4,
      @switch (Model.Submission.Language) {
        case CompileAndGo.Languages.C_MSVC_14:
          @:mode: 'text/x-csrc',
          break;
        case CompileAndGo.Languages.CPP14_MSVC_14:
          @:mode: 'text/x-c++src',
          break;
        case CompileAndGo.Languages.JAVA_8:
          @:mode: 'text/x-java',
          break;
        case CompileAndGo.Languages.PYTHON_2:
        case CompileAndGo.Languages.PYTHON_3:
          @:mode: 'text/x-python',
          break;
      }
      lineNumbers: true,
      viewportMargin: Infinity,
      theme: 'mdn-like',
      matchBrackets: true,
      readOnly: true,
    });
  </script>
</body>
</html>
